<div id="search_new_video">
  <video id="frisbee" width=100% autoplay loop muted>
    <source src="frisbee.mov" type="video/mp4">
  </video>
</div>

<div class="welcome_text">
  <h3>Welcome to <span id="parkie">Parkie</span>!</h3>
  <p>We are a community of park lovers!</p>
  <div class="row">
    <div class="col-xs-6">
      <div class="search_container">
        <a href="#park_search"><p>search by</p>
        <h2>PARK</h2></a>
      </div>
    </div>
    <div class="col-xs-6">
        <div class="search_container">
          <a href="#activities_search"><p>search by</p>
          <h2>ACTIVITIES</h2></a>
        </div>
    </div>
  </div>
</div>

<div class="about_parkie">
  <div class="about_container">
    <div class="row">
      <div class="col-xs-4">
        <div class="about_icons">
          <img src="success.png" width=100px height=100px>
        </div>
        <div class="about_description">
          <h3>Subscribe</h3>
          <p>Subscribe to your favorite activities!</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="about_icons">
          <img src="calendar.png" width=100px height=100px>
        </div>
        <div class="about_description">
          <h3>Join or Create Events</h3>
          <p>Join others.....</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="about_icons">
          <img src="smartphone (1).png" width=100px height=100px>
        </div>
        <div class="about_description">
          <h3>Notify everyone!</h3>
          <p>We'll notify everyone for you!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parks_map_wrapper">
</div>

<div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
</div>


<div class="park_search">
  <h4> <a id="park_search"></a>Search by PARK</h4>
  <div class="all_parks"><%= link_to 'See All Parks', parks_path %></div>
</div>

<!-- Parks list is appended to this div from javascript file -->
<div id="parks_near_by">
</div>

<div class="activity_search">
  <h4><a id="activities_search"></a>Search by ACTIVITIES</h4>
  <% @activities.each do |activity| %>
    <%= link_to park_list_path(activity.id), :action => 'go'  do %>
    <div class="col-sm-3">
      <div class="icons">
        <div class="activity_header"><%= image_tag activity.image,:class =>'img-circle' %>
          <h3><%= activity.name %></h3>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
