
<h1>List of Parks Nearby</h1>

<div class="container">
  <div class="Park_Search">
    <h1>Search by Parks</h1>
    <div id="parks_near_by">
    </div>
  </div>
  <div id="map_wrapper">
      <div id="map_canvas" class="mapping"></div>
  </div>
</div>

<div class="Activity Search">
  <h1>Search by Activities</h1>
  <% @activities.each do |activity| %>
    <%= link_to park_list_path(activity.id), :action => 'go'  do %>
      <h3><%= activity.name %></h3>
    <% end %>
  <% end %>
</div>

<ul class="list-group">
  <div class="park_li">
    <li class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsePark" aria-expanded="false" aria-controls="collapsePark">
      Park
    </li>
    <div id="collapsePark" class="collapse" role="tabpanel" aria-labelledby="headingPark">
      <div class="card-block">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
        raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>

  <p><strong>OR</strong></p>

  <div class="activity_li">
    <li class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseActivity" aria-expanded="false" aria-controls="collapseActivity">
      Activity
    </li>
    <div id="collapseActivity" class="collapse" role="tabpanel" aria-labelledby="headingActivity">
      <div class="card-block">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
        raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</ul>
