<section class="searchPage">
  <div class="hidden-sm">
    <div class="clearfix">
      <div class="RightDiv">
      </div>
      <div class="ClearDiv">
        <p>
          Welcome To Parkie!
        </p>
      </div>
      <div class="LeftDiv">
      </div>
    </div>
    <ul class="list-group">
      <div class="AboutParkie">
        <h1>about.</h1>
        <h1>–</h1>
        <p>
          Hey there! Parkie will help connect you to people at city parks
          based on your activity of choice, or your preferred park.
          You can create an event for a park's activity to let other subscribers
          know when and where you will be in the park. It will help you create
          impromptu meet ups with other parkies with similar agendas!
        </p>
      </div>
      <div class="park_li">
        <div class="ParkHeader">
          <li class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsePark" aria-expanded="false" aria-controls="collapsePark">
            Park
          </li>
        </div>
        <div id="collapsePark" class="collapse" role="tabpanel" aria-labelledby="headingPark">
          <div class="ParkList">
            <div id="Park_Search">
              <div id="parks_near_by">
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="Or"><strong>OR</strong></p>
      <div class="activity_li">
        <div class="ActivityHeader">
          <li class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseActivity" aria-expanded="false" aria-controls="collapseActivity">
            Activity
          </li>
        </div>
        <div id="collapseActivity" class="collapse" role="tabpanel" aria-labelledby="headingActivity">
          <div class="list-group-item list-group-item-action">
            <% @activities.each do |activity| %>
            <%= link_to park_list_path(activity.id), :action => 'go'  do %>
              <%= activity.name %>
              <% end %>
              <% end %>
          </div>
        </div>
      </div>
    </ul>
  </div>
</section>
