
<section class="searchPage">

  <div class="hidden-sm">
    <div class="containerImage">
      <div class="mobileImage">
        <img src="http://finda.photo/image/16506/thumbnail/original">
      </div>
    </div>

    <ul class="list-group">

      <div class="park_li">
        <li class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsePark" aria-expanded="false" aria-controls="collapsePark">
          Park
        </li>
        <div id="collapsePark" class="collapse" role="tabpanel" aria-labelledby="headingPark">
          <div class="ParkList">
            <div id="map_wrapper">
              <div id="map_canvas" class="mapping"></div>
            </div>
            <div id="Park_Search">
              <div id="parks_near_by">
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- <div id="collapsePark" class="collapse" role="tabpanel" aria-labelledby="headingPark">
        <div class="containerPark">

        </div>
      </div>
      <div class="hidden-xs"> -->


      <div class="hidden-sm">
        <p><strong>OR</strong></p>
      </div>

      <div class="activity_li">
        <li class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseActivity" aria-expanded="false" aria-controls="collapseActivity">
          Activity
        </li>
        <div id="collapseActivity" class="collapse" role="tabpanel" aria-labelledby="headingActivity">
          <div class="list-group-item list-group-item-action">
            <% @activities.each do |activity| %>
            <%= link_to park_list_path(activity.id), :action => 'go'  do %>
              <%= activity.name %>
              <% end %>
              <% end %>
          </div>
          <a href="#" class="list-group-item list-group-item-action">Activity #1</a>
          <a href="#" class="list-group-item list-group-item-action">Activity #2</a>
          <a href="#" class="list-group-item list-group-item-action">Activity #3</a>
          <a href="#" class="list-group-item list-group-item-action">Activity #4</a>
        </div>
      </div>
    </ul>
</section>
