<h1>List of Parks Nearby</h1>

<div class="container">
  <div class="Park_Search">

    <div id="parks_near_by">

    </div>

  </div>

  <div id="map_wrapper">
      <div id="map_canvas" class="mapping"></div>
  </div>


  <div class="Activity Search">
    <h1>List of Activities</h1>
    <% @activities.each do |activity| %>
      <%= link_to park_list_path(activity.id), :action => 'go'  do %>
        <h3><%= activity.name %></h3>
      <% end %>
    <% end %>
  </div>
</div>
