<%= form_for @events do |f| %>
  <div class="field">
     <%= f.label :date_time %><br />
     <%= f.datetime_local_field :date_time %>
  </div>

  <div class="field">
     <%= f.submit %>
  </div>
<% end %>
