<section class="new_event">
  <h1 class="Create_Event">Create Event</h1>
</section>
<section class="Form">
  <%= render 'form' %>
</section>
  <h3 class="Back_Search"><%= link_to 'Back to Park Activity', :back %></h3>
