// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-content {
  padding: 100px 0 0 0;
}

h3.activity_header {
  background-color: #63c6ae;
  color: white;
  font-size: 30px;
  padding: 10px;
}

.subscription {
  margin: 20px 100px;
  text-align: center;
}
.subscription_container {
  padding: 10px;
  background-color: #f1f1f1;
  overflow: auto;
  display: inline-block;
}

.subscription h3 {
  margin: 0 20px;
  margin-top: 4px;
  font-size: 18px;
  line-height: 18px;
  color: #777;
  float: left;
}

button.subscribe_button {
  margin: 0 20px;
  float: right;
}

.events {
  width: 80%;
  text-align: center;
  display: flex;
  margin: 20px auto;
}

.create_event {
  text-align: justify;
  flex: 1;
  flex-basis: auto;
}

.events_list {
  flex: 1;
}

.events h2 {
  font-size: 20px;
  color: #63c6ae;
  margin: 10px 0 15px 0;
}

.event_container {
  width: 400px;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  background-color: #f1f1f1;
}

button.attend_event_button {
  margin-top: 10px;
}

button a {
  color: white;
  font-size: 12px;
}

button a:hover {
  color: white;
}

.activity_show_img {
    text-align: center;
    margin-top: 0px;
}

button.create_event_button {
  margin: 15px;
}
