/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *,
 *::before,
 *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

body {
  margin: 0;
  position: relative;
}

#notice {
  margin: 0;
}

#alert {
  margin: 0;
}

// unvisited link
a:link {
   color: red;
}

/* visited link */
a:visited {
   color: #006738;
}

/* mouse over link */
a:hover {
  backcolor: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

/* Change the color of links on hover */
.nav_links a:hover {
    background-color: #006738;
    color: white;
}

/* Add a color to the active/current link */
.nav_links a.active {
    background-color: #006738;
    color: white;
}

// NAVIGATION BAR
.nav {
  height: 80px;
  z-index: 100;
  position: absolute;
}

.nav_logo {
  padding-top: 10px;
  float: left;
  display: block;
  z-index: 100;
}

.nav_logo img {
  height: 60px;
}

.nav_links {
  padding: 28px;
  height: 60px;
  float: right;
  display: block;
  text-align: center;
  z-index: 100;
}

// FOOTER
.footer {
  height: 50px;
  width: 100%;
  background-color: #006738;
}

.footer p {
  padding-top: 15px;
  color: white;
  text-align: center;
}
