/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *,
 *::before,
 *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  // padding-top: 100px;
  margin: 0;
  position: relative;
}

p {
  margin: 10px;
  font-size: 12px;
}

h5 {
  margin: 10px;
  font-size: 18px;
}

button {
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  background-color: #63C6AE;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #777;
}

#parkie {
  font-family: rancho;
  font-size: 75px;
  color: #63C6AE;
}

#notice {
  margin: 0;
}

#alert {
  margin: 0;
}

// unvisited link
// a:link {
//    color: red;
// }

/* visited link */
// a:visited {
  //  color: #006738;
// }

/* mouse over link */
a:hover {
  backcolor: #777;
  // color: #63C6AE;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #63C6AE;
  text-decoration: none;
}

/* Change the color of links on hover */
.nav_links a:hover {
    // color: #63C6AE;
}

/* Add a color to the active/current link */
.nav_links a.active {
    background-color: #63C6AE;
    color: #fff;
}

// NAVIGATION BAR
.nav {
  height: 80px;
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
}

.nav_logo {
  margin: 10px;
  width: 75px;
  height: 75px;
  padding-top: 5px;
  float: left;
  display: block;
  background-color: white;
  border-radius: 50%;
}

.nav_logo img {
  height: 60px;
  margin-left: -11px;
}

.nav_links {
  padding: 25px;
  height: 60px;
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.nav_links_alt {
  padding: 25px;
  height: 60px;
  float: right;
  color: #888;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}


.nav_links a {
  padding: 25px 5px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

.nav_links a:hover {
  color: #63C6AE;
}

.bottom_nav {
  background-color: #63C6AE;
  text-align: center;
  padding: 20px;
}

.bottom_nav a {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.bottom_nav a:hover {
  color: #888;
}

// FOOTER
.footer {
  height: 50px;
  width: 100%;
  background-color: #262626;
  bottom: 0;
  clear: both;
}

.footer p {
  padding-top: 15px;
  color: #888;
  text-align: center;
  margin: 0;
}

#founders {
  color: #63C6AE;
}
