/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *::before,
 *::after {
   box-sizing: border-box;
   margin: 0 0;
   list-style-type: none;
 }

 #myNavbar {
   margin-bottom: 0;
 }

 .navbar-default {
   border-color: white;
 }

 .navbar {
   border-color: white;
 }

 .navbar-inverse .navbar-brand {
   margin-left: 5%;
 }

 .navbar-header div {
   width: 100%
 }
