// Place all the styles related to the Parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.Park_page h3 {
font-size: 44px;
}

button.activity {
  background-color: #65c4ad;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 175px;
  height: 175px;
  border: bold;
  outline: none;
  transition: 0.4s;
  font-size: 24px;
  border: solid;
}

button.activity a {
    font-family: helvetica;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;

}


.activity .img-circle {
  background-color: white;
  margin: 15px;
  height: 90px;
  width: 90px;
}
