// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url("http://finda.photo/image/16506/thumbnail/original") fixed;
  background-repeat: round;
}

.header {
  margin-top: 65px;
}

.mobileImage {
  margin-top: 40px;
}

.mobileImage img {
  width: 100%
}

.searchPage ul {
  background: url("http://finda.photo/image/16506/thumbnail/original") fixed;
  background-repeat: round;
}

.searchPage ul {
  position: relative;
    margin-bottom: 0;
    z-index: 1;
    margin-top: -152px;
    margin-left: 0;
    width: 100%;
}

// .containerImage {
//   margin-top: 50px;
// }

.map_wrapper {
  width: 100%;
}

.containerPark {
  padding: 0;
  margin: 0;
}

.list-group {
  text-align: center;
}

.list-group p {
  margin-top: 10%;
  color: white;
}

.collapsed {
  background-color: #333;
  color: white;
}

.park_li li {
    background-color: black;
    color: white;
    padding: 20px;
}

.activity_li li {
  background-color: black;
  color: white;
  margin-top: 10%;
  padding: 20px;
}



.list-group-item a {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.collapseActivity:first-child {
  padding: 0;
}
