// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background-color: white;
}

* {
  color: #006738;
}

.control_bar {
  text-align: right;
  position: relative;
  margin-top: -25px;
  margin-bottom: 25px;
}

.users {
  background-color: white;
  padding: 2%;
  color: #006738;
  margin-top: 25%;
}

.buttons {
  display: flex;
}

.buttons button {
  width: 33%;
  height: 90px;
  margin: 5px;
  background-color: #55bb76;
}

.buttons h1 {
  font-size: 10px;
}
