// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// DESKTOP

img.img-circle {
    width: 15%;
    border: solid black 4px;
};

// MOBILE

html {
  background-color: white;
}

.control_bar {
  text-align: right;
  position: relative;
  margin-top: -25px;
  margin-bottom: 25px;
}

.users {
  background-color: white;
  padding: 2%;
  color: #006738;
  margin-top: 25%;
}

.buttons {
  display: flex;
}

.buttons button {
  width: 33%;
  height: 90px;
  margin: 5px;
  background-color: #55bb76;
}

.buttons h1 {
  font-size: 10px;
}

//////////////////////
// new user

.signup {
  padding: 7%;
  margin-top: 52px;
  width: 90%;
  text-align: justify;
  margin-left: 5%;
  color: #006738;
  font-family: proxima-nova;
  letter-spacing: .0192px;
  margin-bottom: 5%;
}

.signup a {
  color: #006738;
}
