// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show_page_content {
  // margin-left: 50px;
  // padding: 100px 0 100px 0;
}

.profile_pic {
  padding-top: 100px;
  text-align: center;
}

img.img-circle {
    width: 175px;
    height: 175px;
    // border: solid black 4px;
};

h1.welcome_user {
  text-align: center;
}

.user_subs_events {
  margin: 30px 0 0 0;
  padding: 15px;
  display: flex;
}

.subscription_list {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.subscription_item {
  flex: 1;
}

.subscription_button {
  flex: 1;
}

.event_list {
  flex: 1;
  display: flex;
  flex-direction: column;

}

.owned_event_list {
  flex: 1;
}

.joined_event_list {
  flex: 1;
}

// .user_p {
//     font-family: 'Rancho';
//     font-size: 20px;
//     font-weight: bold;
//     background-color: rgba(0, 128, 0, 0.12);
//     padding: 30px;
// }

// #notice{
//   font-family: 'Rancho';
//   font-size: 20px;
//   padding: 30px;
//   background-color: white;
//   color: white;
// }
//
// #alert{
//   font-family: 'Rancho';
//   font-size: 20px;
//   background-color: white;
//   padding: 30px;
// }
