<div class="Activities_List_Index">
  <div class="ContainerIndex">
    <% @activities.each do |activity| %>
      <%= link_to park_activity_path(params[:park_id], activity.id), :action => 'go' do %>
        <h3><%= activity.name %></h3>
      <% end %>
    <% end %>
  </div>
</div>
