<div class="page-content">

<div class="activity_list_img"><%=image_tag(@activity.image, height: '80px', width: '80px') %></div>
<br><br>
<div class="activity_near_by">
  <div class="activities_park_list">
    <div id="map_wrapper">
      <div id="map_canvas" class="mapping"></div>
    </div>
    <br>
  </div>
</div>
