<div class="page-content">


<div class="activity_near_by">
  <div class="activities_park_list">
    <div id="map_wrapper">
      <div id="map_canvas" class="mapping"></div>
    </div>
  </div>  
</div>
